<app-header></app-header>
<div class="container-fluid mt-3">
  <div class="row">
    <div class="col-3">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-9">
      <main>
        <h2>Country list examples using Ngx Countries Dropdown </h2>
        <p>Below are some examples which can be created using <a
            href="https://www.npmjs.com/package/ngx-countries-dropdown" target="_blank">Ngx Countries dropdown</a>
          package.</p>
        <p>Github repository for these examples <a href="https://github.com/kapilkumar0037/country-library-usecases"
            target="_blank">Ngx Countries dropdown library use cases</a></p>


        <router-outlet></router-outlet>


        <!-- <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label">Country list</label>
        <lib-country-list [preferredCountryCodes]="preferredCountryCodes" [blockedCountryCodes]="blockedCountryCodes"
          [allowedCountryCodes]="allowedCountryCodes" [selectedCountryConfig]="selectedCountryConfig"
          [countryListConfig]="countryListConfig" (onCountryChange)="onCountryChange($event)"></lib-country-list>
      </div> -->
      </main>
    </div>
  </div>


</div>